@{
    ViewBag.Title = "Home1";
    Layout = "~/Views/Shared/_LayoutEnglish.cshtml";
}
<style>
    html, body {
        overflow-y: auto !important;
    }
</style>
<!--menu-spacer-->
<div class="menu-spacer-home"></div>
<!--end: menu-spacer-->
<!-- slides-1 -->
<section id="slider">
    <div class="container-fluid">
        <div class="row">
            <div id="carousel-viviendas" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active"><img src="~/images/viviendas-gallery/vivienda-1/slider-cover.jpg" alt="Oceanhills.es"></div>
                </div>
                <!-- Controls -->
                <div class="navigation-wrapper">
                    <a class="left carousel-control" href="/english/home3" role="button" data-slide="prev"><span></span></a>
                    <div class="title"><h1>GROUND FLOOR</h1></div>
                    <div class="devider"></div>
                    <a class="right carousel-control" href="/english/home2" role="button" data-slide="next"><span></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
</section>
<!-- text -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="text-left">
                        <p>Ground floor apartments are characterized by their wide terraces.</p>
                        <p>An open space with a SPA and a Mediterranean green area, designed to be enjoyed within the privacy of each home, has been included right by the terrace.</p>
                    </div>
                    <div class="row row-centered">
                        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-centered">
                            <h2>All rooms face outside and boast natural light.</h2>
                        </div>
                    </div>
                    <div class="row row-centered">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-centered">
                            <a href="~/pdfs/PDF-ground-floor-English.pdf" target="_blank" class="download-plan"><i class="fa fa-download"></i>DOWNLOAD INFORMATION</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section intro-->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"><img src="~/images/vivienda-home-icon.png" class="img-responsive"></div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                        <h2><b>Beginning of construction works</b></h2>
                        <p>Construction works are to be started in the early fourth trimester of 2015.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"><img src="~/images/vivienda-money-icon.png" class="img-responsive"></div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                        <h2><b>Purchase</b></h2>
                        <p>Reservation and private sale contracts processes are already open.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"><img src="~/images/vivienda-key-icon.png" class="img-responsive"></div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                        <h2><b>Delivery of the premises</b></h2>
                        <p>Construction works will last an estimated period between 13 and 15 months. Delivery of premises is expected on the first trimester of 2017.<p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="~/images/viviendas-gallery/a82-Vista-de-salon-y-cocina.jpg" data-lightbox="image-1">
                    <img src="~/images/viviendas-gallery/a82-Vista-de-salon-y-cocina.jpg" class="img-responsive" style="min-height:330px;" />
                </a>
            </div>
        </div>
    </div>
</section>
<!--end: section intro-->
<!-- slides-2 -->
<section id="services-slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="row">
                    <a href="~/images/viviendas-gallery/vivienda-1/a82-Baja-esquina.jpg" data-lightbox="gallery"><img src="/images/viviendas-gallery/vivienda-1/preview-a82-Baja-esquina.jpg" class="img-responsive full-width" /></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="row">
                    <a href="~/images/viviendas-gallery/vivienda-1/a82-Baja-tipo.jpg" data-lightbox="gallery"><img src="/images/viviendas-gallery/vivienda-1/preview-a82-Baja-tipo.jpg" class="img-responsive full-width" /></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="row">
                    <a href="/images/viviendas-gallery/vivienda-1/a82-Vista-de-salon-y-cocina.jpg" data-lightbox="gallery"><img src="/images/viviendas-gallery/vivienda-1/a82-Vista-de-salon-y-cocina.jpg" class="img-responsive full-width" /></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="row">
                    <a href="/images/viviendas-gallery/vivienda-1/a82-Vista-desde-baño.jpg" data-lightbox="gallery"><img src="/images/viviendas-gallery/vivienda-1/a82-Vista-desde-baño.jpg" class="img-responsive full-width" /></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="row">
                    <a href="/images/viviendas-gallery/vivienda-1/a82-Vista-terraza-Norte.jpg" data-lightbox="gallery"><img src="/images/viviendas-gallery/vivienda-1/a82-Vista-terraza-Norte.jpg" class="img-responsive full-width" /></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="row">
                    <a href="/images/viviendas-gallery/vivienda-1/a82-Vista-terraza-Sur-2.jpg" data-lightbox="gallery"><img src="/images/viviendas-gallery/vivienda-1/a82-Vista-terraza-Sur-2.jpg" class="img-responsive full-width" /></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="row">
                    <a href="/images/viviendas-gallery/vivienda-1/a82-Vista-terraza-Sur.jpg" data-lightbox="gallery"><img src="/images/viviendas-gallery/vivienda-1/a82-Vista-terraza-Sur.jpg" class="img-responsive full-width" /></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="row">
                    <a href="/images/viviendas-gallery/vivienda-1/cam-7-Urbanizacion-a82.jpg" data-lightbox="gallery"><img src="/images/viviendas-gallery/vivienda-1/cam-7-Urbanizacion-a82.jpg" class="img-responsive full-width" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
