<div class="loading-overlay">
    <div class="loader">
        <img src="~/images/loading.gif" class="center-block" />
    </div>
</div>
<div id="pagepiling">
    <div class="section menu-spacer" id="home">
        <img src="/images/main-slider.jpg" class="full-home-image" />
        <div class="overlay-box">
            <div class="content center-block">
                <img src="/images/home-logo.png" class="center-block" />
                <h2>BIENVENIDO A</h2>
                <h1>OCEAN HILLS</h1>
                <h3>NATURALEZA Y MAR</h3>
                <div class="spacer"></div>
                <p class="hidden-xs">
                    Ocean Hills es un nuevo proyecto de 62 modernas viviendas, un destino perfecto que conjuga sosiego y disfrute.
                    Las viviendas de Ocean Hills son un producto singular por su ubicación en la Costa del Sol a escasos 5 minutos del mar, por estar rodeado de un entorno natural como es El Parque Natural Monte Selwo, por el privilegiado clima de esta zona y por la calidad y diseño de su arquitectura contemporánea.
                    Ocean Hills representa la oportunidad perfecta para una segunda residencia o para retirarse a disfrutar de la belleza del paisaje dentro de una urbanización con las máximas comodidades.
                </p>
            </div>
        </div>
    </div>
    <div class="section menu-spacer" id="entorno">
        <!--navigation-->
        <div class="container navigation">
            <a href="#home" class="arrow left-side">HOME<i class="up"></i></a>
            <a href="#viviendas" class="arrow right-side">VIVIENDAS<i class="down"></i></a>
        </div>
        <!--content-->
        <div class="container">
            <div class="content">
                <div class="row row-centered">
                    <div class="col-lg-12 headline col-centered">
                        <h1 class="margin-bottom-30">ENTORNO</h1>
                        <div class="blue-line center-block"></div>
                        <h3 class="margin-top-26">OCEAN HILLS, NATURALEZA Y MAR</h3>
                    </div>
                </div>

                <div id="carousel-entorno" data-ride="carousel" class="carousel slide" data-interval="10000">
                    <div class="carousel-inner">
                        <!--first item-->
                        <div class="item active">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <a href="/images/viviendas-gallery/a82-Vista-terraza-Sur.jpg" data-lightbox="image-1">
                                        <img src="/images/viviendas-gallery/a82-Vista-terraza-Sur.jpg" class="img-responsive entorno-img" />
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <p>Ocean Hills está ubicado junto al Parque Natural Monte Selwo, en Estepona (Málaga), en un enclave privilegiado rodeado de un espectacular bosque mediterráneo.</p>
                                    <p>
                                        Con vistas al mar y al parque natural, Ocean Hills constituye el
                                        emplazamiento ideal para amantes de la naturaleza sin olvidar su
                                        proximidad al mundialmente conocido Puerto Deportivo José Banús, a
                                        varios campos de golf (cómo la Resina Golf & Country Club, el Marbella
                                        Club Golf Resort y el Flamingos Golf Club), a hoteles de prestigio como el
                                        Palace Hotel Villa Padierna o el Healthouse Las Dunas y las ciudades de
                                        Marbella y Estepona, a escasos 10 minutos desde la urbanización.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--second item-->
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <a href="/images/viviendas-gallery/a82-Vista-de-salon-y-cocina.jpg" data-lightbox="image-2">
                                        <img src="/images/viviendas-gallery/a82-Vista-de-salon-y-cocina.jpg" class="img-responsive entorno-img" />
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <p>
                                        Los edificios en forma escalonada proporcionan, además de unas impresionantes vistas, acceso directo a todas las viviendas desde los
                                        jardines comunes, dotándolas de la máxima independencia.
                                    </p>
                                    <p>
                                        El vanguardista diseño de todas las viviendas de Ocean Hills ofrece la
                                        mayor comodidad y flexibilidad a sus propietarios.
                                    </p>
                                    <p>
                                        Las zonas comunes ajardinadas incluyen una piscina para niños y otra para
                                        adultos, club de playa, sauna, áreas de juegos, pistas de croquet y permiten
                                        reconfortantes paseos por sus zonas comunes ajardinadas rodeadas de
                                        naturaleza.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--third item-->
                        <div class="item">
                            <div class="row">
                               @*<div id="entorno-map"></div>*@
                                <iframe id="entorno-map" src="http://mapbuildr.com/frame/0q402m" frameborder="0" height="500" width="960"></iframe>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li class="active" data-target="#carousel-entorno" data-slide-to="0"></li>
                        <li class="" data-target="#carousel-entorno" data-slide-to="1"></li>
                        <li class="" data-target="#carousel-entorno" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
        <!--end: content-->
    </div>
    <div class="section menu-spacer" id="viviendas">
        <!--navigation-->
        <div class="container navigation">
            <a href="#entorno" class="arrow left-side">ENTORNO<i class="up"></i></a>
            <a href="#contacto" class="arrow right-side">CONTACTO<i class="down"></i></a>
        </div>
        <!--content-->
        <div class="container">
            <div class="content">
                <div class="row row-centered">
                    <div class="col-lg-12 headline col-centered">
                        <h1 class="margin-bottom-30">VIVIENDAS</h1>
                        <div class="blue-line center-block"></div>
                        <h3 class="margin-top-26">OCEAN HILLS, NATURALEZA Y MAR</h3>
                    </div>
                </div>
                <!--end: title-->
                <!--desktop content-->
                <div class="row hidden-xs">
                    <!-- first item -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                        <a href="/vivienda1"><img src="/images/1.png" class="center-block image-thumb" /></a>
                        <p class="vivendas-txt-bold">PLANTA BAJA</p>
                        <p class="vivendas-txt-regular">Los apartamentos ubicados en planta baja se caracterizan por su amplia terraza.</p>
                        <div class="pull-right navigation"><a class="read-more" href="/vivienda1">LEER MÁS</a><i class="arrowright"></i></div>
                    </div>
                    <!-- end: first item -->
                    <!--second item-->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                        <a href="/vivienda2"><img src="/images/2.png" class="center-block image-thumb" /></a>
                        <p class="vivendas-txt-bold">PLANTA PRIMERA</p>
                        <p class="vivendas-txt-regular">Los apartamentos ubicados en planta primera se caracterizan por su privacidad.</p>
                        <div class="pull-right navigation"><a class="read-more" href="/vivienda2">LEER MÁS</a><i class="arrowright"></i></div>
                    </div>
                    <!--end: second item-->
                    <!--third item-->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                        <a href="/vivienda3"><img src="/images/3.png" class="center-block image-thumb" /></a>
                        <p class="vivendas-txt-bold">DÚPLEX</p>
                        <p class="vivendas-txt-regular">Los áticos dúplex se caracterizan por sus magníficas vistas al mar y a la montaña permitiendo la creación de ambientes diferenciados.</p>
                        <div class="pull-right navigation"><a class="read-more" href="/vivienda3">LEER MÁS</a><i class="arrowright"></i></div>
                    </div>
                    <!--end: third item-->
                </div>
                <!--only mobile-->
                <div class="row row-centered hidden-lg hidden-md hidden-sm">
                    <div id="carousel-viviendas" data-ride="carousel" class="carousel slide">
                        <div class="carousel-inner">
                            <!--first item-->
                            <div class="item active">
                                <div class="col-xs-12 item">
                                    <a href="/vivienda1"><img src="/images/1.png" class="center-block image-thumb" /></a>
                                    <p class="vivendas-txt-bold">PLANTA BAJA</p>
                                    <p class="vivendas-txt-regular">Los apartamentos ubicados en planta baja se caracterizan por su amplia terraza.</p>
                                    <a class="read-more navigation" href="/vivienda1">LEER MÁS</a><i class="arrowright"></i>
                                </div>
                            </div>
                            <!--second item-->
                            <div class="item">
                                <div class="col-xs-12 item">
                                    <a href="/vivienda2"><img src="/images/2.png" class="center-block image-thumb" /></a>
                                    <p class="vivendas-txt-bold">PLANTA PRIMERA</p>
                                    <p class="vivendas-txt-regular">Los apartamentos ubicados en planta primera se caracterizan por su privacidad.</p>
                                    <a class="read-more navigation" href="/vivienda2">LEER MÁS</a><i class="arrowright"></i>
                                </div>
                            </div>
                            <!--third item-->
                            <div class="item">
                                <div class="col-xs-12 item">
                                    <a href="/vivienda3"><img src="/images/3.png" class="center-block image-thumb" /></a>
                                    <p class="vivendas-txt-bold">DÚPLEX</p>
                                    <p class="vivendas-txt-regular">Los áticos dúplex se caracterizan por sus magníficas vistas al mar y a la montaña permitiendo la creación de ambientes diferenciados.</p>
                                    <a class="read-more navigation" href="/vivienda3">LEER MÁS</a><i class="arrowright"></i>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#carousel-viviendas" data-slide-to="0"></li>
                            <li class="" data-target="#carousel-viviendas" data-slide-to="1"></li>
                            <li class="" data-target="#carousel-viviendas" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
                <!--end: only mobile-->
            </div>
        </div>
    </div>
    <div class="section menu-spacer" id="contacto">
        <!--contact-->
        <div class="container-fluid">
            <div class="row">
                <!--title-->
                <div class="contacto-title">
                    <a href="#viviendas" class="up">VIVIENDAS</a><i class="arrowup"></i>
                    <h1>CONTACTO</h1>
                    <div class="devider"></div>
                    <h3>OCEAN HILLS, NATURALEZA Y MAR</h3>
                </div>
                <!--contact form-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-form">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info">
                            <h1>SOTO RESINERA</h1>
                            <h2>Paseo Eduardo Dato 18, 28010 Madrid, España.</h2>
                            <div class="divider"></div>
                            <p>M. info@oceanhillsestepona.com </p>
                            <p>T. +34 91 781 57 00</p>
                            <p>F. +34 91 781 57 00</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email">
                            <h1>contacta con nosotros</h1>
                            <div class="form-group">
                                <input type="text" class="form-control" id="contactname" placeholder="Nombre" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="contactemail" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <textarea id="contactmessage" class="form-control" rows="1" placeholder="Mensaje" required></textarea>
                            </div>
                            <div class="form-group">
                                <button data-ok-message="Message Sent" data-sending-message="Sending..." type="submit" name="submit" data-error-message="Error!" class="btn btn-color2 btn-block contact-button" id="btncontactemail"><i class="fa fa-paper-plane"></i>Send Message</button>
                            </div>
                        </div>
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 getconnected">
                            <h1>visítanos en:</h1>
                            <a href="#" class="social social-fb"></a>
                            <a href="#" class="social social-twitter">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a href="#" class="social social-behance">&nbsp;</a>
                            <a href="#" class="social social-dribble">&nbsp;</a>
                        </div>-->
                    </div>
                </div>
                <!--end: contact-form-->
                <!--map-->
                <div id="map-canvas"></div>
            </div>
        </div>
        <!--end: contact-->
        <!--Footer-->
        <footer id="footer">
            <div class="">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-centered">
                        <div class="row">
                            &nbsp;
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-centered">
                        <div class="row">
                            <a class="to-top" href="#home">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-centered">
                        <div class="row">
                            <img src="/images/ocfooterlogo.png" alt="logo" class="img-responsive center-block" />
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
